.card-deck {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
}

.card {
  background-color: #1B1D1F;
  color: #FEF7EE;
  border: none;
  flex: 1 0 auto;
}

.card-body {
  flex: 1 1 auto;
}
  
.popular {
  position: absolute;
  top: 5px;
  padding: 5px;
  border-radius: 20px;
  background-color: #F6C768;
  color: black; 
}

.price {
  background-color: #BEE3CC;
  border-radius: 5px;
  color: black;
  font-family: "DM Sans", sans-serif;
  font-weight: 12px;
}

.votes-color {
  color: #6F757C;
}

.text-sold {
  color: #ED735D;
}

@media (max-width: 768px) {
  .card-deck {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}