.card-deck {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  grid-gap: 10px;
}

.card {
  background-color: #1B1D1F;
  color: #FEF7EE;
  border: none;
}

.price {
  background-color: #BEE3CC;
  border-radius: 5px;
  color: black;
  font-family: "DM Sans", sans-serif;
  font-weight: 12px;
}
.votes-color {
color: #6F757C;
}
.text-sold {
  color: #ED735D;
}
@media (max-width: 768px) {
  .card-deck {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  }
}
